@using Links
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Sandėlio inventoriaus valdymo sistema</title>
    
    <script src="@Scripts.jquery_1_9_1_js" type="text/javascript"></script>
    <script src="@Scripts.jquery_ui_1_10_3_custom_min_js" type="text/javascript"></script>
    <script src="@Scripts.jquery_ui_datepicker_lt_js" type="text/javascript"></script>
    <script src="@Scripts.shared_js" type="text/javascript"></script>

    <link rel="stylesheet" href="@Links.Content.css.style_css" type="text/css" media="all" />
    <link rel="stylesheet" href="@Links.Content.css.jquery_ui_1_10_3_custom_min_css" type="text/css" media="all" />
    <script src="@Scripts.shared_js" type="text/javascript"></script>


    @RenderSection("HeaderSection", false)
</head>
    <body>
        <div id="wrapper">
            <!-- Header -->
            <div id="header">
                @RenderPage(MVC.Shared.Views.Partial.Header, false)
            </div>
            <!-- End Header -->

            <!-- Container -->
            <div id="container">
                <div class="shell">
                    @RenderBody()
                </div>
            </div>
            <!-- End Container -->

            <!-- Footer -->
            <div id="footer">
                <div class="shell">
                    <span class="left">&copy; 2013 - Rytis Čapas</span>
                    <span class="right">
                        Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
                    </span>
                </div>
            </div>
            <!-- End Footer -->
        </div>

	
    </body>
</html>